<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.rentalservices.mapper.LeaseMapper">

    <resultMap id="BaseResultMap" type="cn.edu.guet.rentalservices.domain.Lease">
            <result property="licenseId" column="license_id" jdbcType="VARCHAR"/>
            <result property="rentalTime" column="rental_time" jdbcType="VARCHAR"/>
            <result property="returnTime" column="return_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        license_id,rental_time,return_time
    </sql>
</mapper>
